@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #a2ad59;
    --secondary-color: #9b489b;
    --border-color: #e8e9ed;
    --bg-color: #333333;
}

body {
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

